/* App.css */

/* ====== App Layout ====== */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
main,
footer {
  padding: 1rem;
}

main {
  flex: 1;
}

/* ====== Typography ====== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Markazi Text", serif;
  color: #333333;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 40px; /* Display subtitle */
  font-weight: 400;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
  font-weight: bold;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #4a4a4a;
  max-width: 65ch;
  margin-bottom: 1rem;
}

span {
  font-weight: 500;
  color: #f4ce14;
  font-size: 16px;
}

/* ====== Header ====== */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.logo {
  height: 50px;
  border-radius: 0px;
  box-shadow: none;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

/* ====== Navigation ====== */
header {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
nav {
  padding: 0.75rem 1rem;
}

.nav-menu {
  display: block;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

nav li a {
  text-decoration: none;
  color: #495e57;
  font-weight: 600;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav li a:hover {
  color: #f4ce14;
}

.hamburger-icon {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* ====== Images ====== */
img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* ====== Footer ====== */
footer {
  background-color: #f0f0f0;
  font-size: 0.9rem;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}

/* ====== Responsive ====== */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .hamburger-icon {
    display: block;
  }

  .nav-menu {
    display: none;
    width: 100%;
  }

  .nav-menu.open {
    display: block;
    margin-top: 1rem;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
}
